
<div class="row">
    <ng-container>
        <div class="col">
      <div class="card-header text-white bg-info" style="width: 20rem;">
          <h5>Tous Les Produits</h5>
      </div>
      </div>
    </ng-container>
  </div>
<div class="row">
  <ng-container *ngFor="let p of produits | async">
      <div class="col">
          <div class="card " style="width: 16rem;">
            <img class="card-img-top" [src]="p.image1" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{p.product_name}}</h5>
              <p class="card-text">  {{p.product_price_buy | currency: 'EUR':'symbol':'3.2'}}</p>
              
            </div>
            <div *ngIf=getQ(p) class="card-footer">
                <button  (click)="ajouterAuPanier(p)" class="btn btn-primary btn-block">Ajouter Panier</button>
            </div>
            <div *ngIf=!getQ(p) class="card-footer">
                <button routerLink="/basket"  class="btn btn-primary btn-block"> Panier  <span class="fa fa-shopping-cart"></span></button>
            </div>
          </div>
    
        </div>
    
      </ng-container>
    </div>
    
    